*.safetensors filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
datasets/*.csv filter=lfs diff=lfs merge=lfs -text
evaluation/*.csv filter=lfs diff=lfs merge=lfs -text
